# Ignore build output directories
bin/
obj/

# User-specific files
*.user
*.suo
*.userprefs

# Visual Studio specific files
.vs/
*.sln.docstates

# Ignore package and dependency files
*.nupkg
*.snupkg
packages/
project.lock.json

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore IDE-specific files
.idea/
*.sublime-workspace
*.sublime-project
